---

---

<section id="contacto">
    <div class="contact__container">
        <div class="redes-sociales">
            <div class="whatsapp">
                <a href="#">
                    <i class="fa-brands fa-whatsapp" id="whatsapp"></i>
                    <h4>WhatsApp</h4>
                </a>
            </div>
            <div class="facebook">
                <a href="#">
                    <i class="fa-brands fa-facebook" id="facebook" ></i>
                    <h4>Facebook</h4>
                </a>
            </div>
            <div class="instagram">
                <a href="#">
                    <i class="fa-brands fa-instagram" id="instagram"></i>
                    <h4>Instagram</h4>
                </a>
            </div>
            <div class="telegram">
                <a href="#">
                    <i class="fa-brands fa-telegram" id="telegram"></i>
                    <h4>Telegram</h4>
                </a>
            </div>
        </div>
        <div class="form-container">
            <div class="text-img">
                <h2 class="cta-form">Envíame tu consulta</h2>
                <img src="images/img default.jpg" alt="">
            </div>
            <form>
                <div class="input">
                    <input type="text" name="name" id="name" required placeholder=" ">
                    <label for="name">Nombre</label>
                </div>
                
                <div class="input">
                    <input type="email" name="email" id="email" required placeholder=" ">
                    <label for="email">Email</label>
                </div>
            
                <div class="input">
                    <input type="number" name="phoneNumber" id="phoneNumber" required placeholder=" ">
                    <label for="phoneNumber">Número de teléfono</label>
                </div>
                <div class="input text-area">
                    <textarea name="context" id="context" cols="15" rows="5" placeholder=" " required></textarea>
                    <label for="context">Contame un poco sobre la consulta</label>
                </div>
                
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>

<style>
     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: constantia,'Josefin Sans', sans-serif;
		text-decoration: none;
		list-style: none;
    }

    :root{
        --blanco: #f5f8fe;
        --blanco02: #f5f8fe93;
        --celeste: #00a9d9;
        --rojo:#ff6761;
        --rojo-01: #ad2d28;
        --rojo-02: #811410;
        --rojo-03: #c4413c;
        --celeste-claro: #b4d2db;
        --celeste-claro-01: #dae6ff;
        --celeste-gris-oscuro: #70888f;
        --celeste-gris-oscuro-01: #646a6b;
        --celeste-gris-oscuro-02: #34393a;
    }
    .contact__container{
        display: grid;
        grid-template-columns: 30% 1fr;
        padding: 2em 4em 2em 5em;
        background-image: url('/public/images/back-form.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .redes-sociales{
        margin: 5em 0 0 3em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    a{
        display: flex;
        align-items: center;
        gap: 1em;
        width: 3em;
    }

    

    a > i{
        font-size: 2.8em;
        padding: .5em;
        border-radius: 50%;
        background-color: var(--rojo);
        color: var(--blanco02);
        box-shadow: 4px 3px 0 rgba(0, 0, 0, .1);
        transition: all ease-in-out .2s;
    }

    a:hover > i{
        font-size: 3.2em;
        padding: .37em;
        color: var(--blanco);

    }

    a > h4{
        color: var(--celeste-gris-oscuro-01);
        font-size: 1.5em;
        transition: color ease-in-out .2s, transform ease-in-out .2s;
    }

    a:hover > h4{
        color: transparent;
        transform: translateX(-15px);

    }

    /* form  */

    .form-container{
        display: flex;
        gap: 2em;
        width: 100%;
        padding: 2em 3em 2em 6em;
        background-color: var(--rojo);
        background-image: url('/public/images/Background-form.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border-radius: 15px;
        box-shadow: 15px 15px 0 rgba(0, 0, 0, .1);
    }

    .text-img > h2{
        font-size: 2.5em;
        font-weight: bold;
        color: var(--blanco);
        text-align: center;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    }

    .text-img > img{
        margin-top: 2em;
        width: 18em;
        height: 30em;
        object-fit: cover;
        border-radius: 20px;
        padding: .5em;
        background-color: var(--blanco);
        box-shadow: 15px 15px 0 rgba(0, 0, 0, .1);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        width: 80%;
        padding: 2.5em 1.8em 1.8em 1.8em;
        background-color: var(--blanco);
        box-shadow: 15px 15px 0 rgba(0, 0, 0, .1);
        border-radius: 15px;
    }


    .input{
        position: relative;
        width: 100%;
    }

    .input > input, textarea {
        width: 100%;
        padding: .5em;
        font-size: 1.3em;
        border: none;
        border-radius: 10px;
        background-color: var(--rojo);
        box-shadow: 7px 7px 0 rgba(150, 150, 150, .2);
        transition: background-color ease-in .3s;
    }

    textarea{
        height: 9em;
        resize: none;
    }


    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    .input > input:focus, textarea:focus{
        background-color: var(--rojo-03);
        outline:none;
        
    }

    label{
        position: absolute;
        font-size: 1.3em;
        font-weight: bold;
        left: 15px;
        top: 0;
        color: var(--blanco02);
        transform: translateY(10px);
        cursor: pointer;
        transition: color ease-in .2s, transform ease-in .2s;
    }

    label::after{
        content: "*";
        color: var(--blanco02);
    }

    input:focus + label,
    input:not(:placeholder-shown) + label,
    textarea:focus + label,
    textarea:not(:placeholder-shown) + label{

        transform: translateY(-22px) scale(.75);
        transform-origin: left top;
        color: var(--rojo);
    }

    button{
        width: 12em;
        border: none;
        padding: .5em;
        font-size: 1.3em;
        font-weight: bold;
        color: var(--blanco);
        background-color: var(--celeste-gris-oscuro);
        border-radius: 12px;
        box-shadow: 7px 7px 0 rgba(150, 150, 150, .2);
        margin: auto;
        cursor: pointer;
        transition:background-color ease-in .2s;
    }

    button:hover{
        background-color: var(--celeste-gris-oscuro-01);
    }

    @media only screen and (max-width: 600px){
        .contact__container{
            display: flex;
            flex-wrap: wrap-reverse;
            padding: 1em 0;
        }


        .redes-sociales{
            flex-direction: row;
            margin: 2em auto 0 ;
        }

        a > i{
            font-size: 1.5em;
        }

        a:hover > i{
            font-size: 1.7em;
        }

        a > h4{
            display: none;
        }

        .form-container{
            padding: 1em .5em;
            flex-wrap: wrap;
        }

        .text-img > img{
            display: none;
        }

        form{
            width: 100%;
            padding: 2.5em 0.6em;
        }

    }


</style>